<br><br>
<h1> Datos actualizados </h1>
<br><br>
<div class="act">
	<%= image_tag("update.png", class:"img-responsive") %>
</div>

<br><br><br><br><br>

<%= link_to 'Back', valorations_path, class: 'btn btn-primary btn-lg' %>

<style>
    .act
    {
      
        margin-left:550px;
    }
</style>